
body {
  background-image: url("../images/background.jpg");
}

#box1 {
  border: 3px solid black ;
    width: 260px;
    height: 50px;
    font-weight: bold;
    background-color: rgba(225,225,225,0.7);
}

.scoreBox {
  border: 3px solid black;
    width: 260px;
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: bold;
    background-color: rgba(225,225,225,0.7);

}
.currentScoreValue {
  border: 3px solid black;
    width: 260px;
    height: 50px;
    font-weight: bold;
    background-color: rgba(225,225,225,0.7);

}

.crystalButtons {
  border: 3px solid black;
  width: 260px;
  height: 100px;
  font-weight: bold;
  
}

 .instructions {
  font-weight: bold;
  background-color: rgba(225,225,225,0.7);


}
